.navbar p{
    width: 200px;
    color: #2F4362;
    font-family: "Montserrat";
font-size: 18px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0.005em;
text-align: left;

    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
height: 20vh;

position: fixed;
z-index: 99999999;
left: 230px;
padding: 25px;


}
.navbar #img{
    width: 38px;
height: 38px;
top: 34px;
left: 1386px;
border-radius: 32px;

}
