.nav img {
  width: 156.18px;
  height: 30.78px;
  top: 40px;
  left: 35px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  flex-shrink: 0;
  border: 2px solid #f8f8f8;
  background: #fff;
  position: fixed;
  z-index: 9999999;
}

.list {
  width: 200px;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* justify-content: space-between; */
  flex-direction: column;
  height: 60vh;
}
.list a {
  display: flex;
  width: 105px;
  height: 24px;
  top: 130px;
  left: 30px;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.list a img {
  width: 18px;
  height: 18px;
  top: 133px;
  left: 30px;
}
.menu img {
  width: 18px;
  height: 18px;
  top: 963px;
  left: 30px;
}
.menu a {
  /* display: flex; */
  display: flex;
  width: 150px;
  height: 24px;
  top: 130px;
  left: 10px;
  justify-content: space-between;
  align-items: center;
  margin-right: 65px;
  /* padding: 0px 1px; */
}
.nav p {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
letter-spacing: 0px;
  text-align: left;
  color: #7d8fb3;
}
.nav p:hover {
  color: #ff9f43;
}

.list #p {
  color: #ff9f43;
}
.list #p:hover {
  color: #7d8fb3;
}
