*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.dashboard{
    width: 100%;
    display: flex;
}
.dashboard .sideBar{
  width:300px;
  height: 100vh;
  background-color: aqua;  
}

.right{
    width: 100%;
}
.dashboard .right .navbar{
    width: 100%;
    padding: 30px 40px;
    background-color: aliceblue;
}

.calender{
    width: 200px;
    height: 90vh;
    background-color: bisque;
}

.content{
    display: flex;
    justify-content: space-between;
}