*{
    // background-color: wheat;
}


.sub{
    width: 80%;
    margin-left: 300px;
}
.heero{
    width: 80%;
    // height: 30vh;
    margin-left: 300px;
    padding: 10px 30px;
}


.ldr{
    width: 80%;
    position: absolute;
    top: 500px;
    margin-left: 20%;
    padding: 0px 20px;
}
